<div class="grid-container">
    <div class="grid-item label left">Time:</div>
    <div class="grid-item label right">Score:</div>
    <div class="grid-item left">
      <app-stopwatch></app-stopwatch>
    </div>
    <div class="grid-item right">
      <app-score-display [score]="score"></app-score-display>
    </div>
</div>

<app-control-panel
    (startGame)="onStartGame()"
    (nextImage)="onNextImage()"
    (finishGame)="onFinishGame()"
></app-control-panel>
<app-image
    *ngIf="imageInfo"
    [data]="imageInfo"
    (targetFound)="onTargetFound()"
></app-image>

<app-score-popup *ngIf="showPopup" 
    [score]="score" 
    (closePopup)="closePopup()">
</app-score-popup>

<app-brief-rules *ngIf="!gameStarted"></app-brief-rules>