.image-container {
    display: flex;
    justify-content: center;
}

.highlight-marker {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    pointer-events: none;
    border: 5px solid red;
}

.image {
    width: 1024px;
}